<div class="task-color-picker">
  <div class="wrapper">
    <app-color-picker [colorsList]="colors"></app-color-picker>
  </div>
  <hr />

  <form class="wrapper">
    <div>
      <label
        >Color : 
        <app-color-picker
          name="selectedColor"
          (exportColor)="insertColor($event)"
          [colorsList]="colors"
          [pickedColor]="selectedColor"
        ></app-color-picker>
      </label>
      <input
        type="text"
        [formControl]="inputForColor"
        [value]="selectedColor"
      />
      <p
        class="incorrect-value"
        *ngIf="incorrectValue.length > 0"
        [textContent]="incorrectValue"
      ></p>
    </div>
  </form>
</div>
