<section>
    <div class="color-selection"  >
        <div class="checkbox-block"  tabindex="1" >
            <input tabindex="1" class="checkbox-toggle" type="checkbox" (change)="toggle=!toggle" (keydown.enter)="toggle=!toggle" >
            <div class="arrows-img"></div>
        </div>
        <div class="current-color" [style.backgroundColor]="palette.selectedColor"></div>
    </div>
    <div *ngIf='toggle'>
        <table class="palette-block"  #paletteDropdown  appPicker (setColor)="selectColor($event)">
            <tr class="palette-main">
                <td class="color-variant unselected" tabindex="1" [style.backgroundColor]="color" *ngFor="let color of palette.allColors" ></td>
            </tr>
        </table>
    </div>
</section>



