
    .palette-main{
        margin: 0;
        padding: 0;
        display: flex;
        flex-wrap: wrap;
        width: 153.5px;
        height: 206px;
        border: 1px solid coral;

        .unselected{
            opacity: 0.4;
            border-color: wheat ;
        }

        .selected{
            opacity: 1;
            border-color: black;
        }
    }

    .color-variant{
        
        margin: 0;
        padding: 0;
        width: 50px;
        height:50px;
        border: 1px solid ;
    }
    .current-color-block{
        width: 153.5px;
        display: flex;
        justify-content: space-between;
       
    }
    .current-color-title{
        font-size: 10px;
    }
    .current-color{

        padding: 0;
        margin: 0;
        width: 20px;
        height:20px;
        border:1px solid cadetblue;
    }

    .buttons-block{
        width: 153.5px;
        display: flex;
    }
    

    .checkbox-toggle {
        margin: auto 15px;
        opacity: 0;
        cursor: pointer;
        position: relative;
        &:checked {
            & + div {
                .todo-title {
                    text-decoration: line-through;
                }
            }
            & + div::before {
                content: "";
                // background-image: url(" ");
                background-size: 100%;
                background-repeat: no-repeat;
                position: absolute;
                z-index: -2;
                top: 35%;
                left: -32px;
                width: 20px;
                height: 20px;
            }
        }
        &:not(:checked) {
            & + div {
                .todo-title {
                    text-decoration: none;
                }
            }
            & + div::before {
                content: "";
                // background-image: url(" ");
                background-size: 100%;
                background-repeat: no-repeat;
                position: absolute;
                z-index: -2;
                top: 35%;
                left: -32px;
                width: 20px;
                height: 20px;
            }
        }
    }